body{
	text-align: center;
	background-color: #a6a6a6;
background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-light.png);

}




}
img{
	height: 400px;
	width: 400px;
}
#inphotos{
	padding: 30px;
}
